# systemctl cat sockio.service

[Unit]
Description=Test sockio

[Service]
Sockets=sockio-stdin.socket sockio-stdout.socket sockio-cksum.socket
ExecStart=/bin/bash -c 'while read line; do echo Read from FIFO: "$line"; echo $line >&2; done'
RestartSec=60
StandardInput=fd:sockio-stdin
StandardOutput=fd:sockio-stdout
StandardError=fd:sockio-cksum
