# systemctl cat sockio-stderr.socket

[Unit]
Description=Test socket stderr
DefaultDependencies=no
BindsTo=sockio.service

[Socket]
Service=sockio.service
ListenFIFO=/tmp/sockio-err
FileDescriptorName=StandardError
RemoveOnStop=true
