# systemctl cat sockio-stdin.socket

[Unit]
Description=Test socket stdin
StopWhenUnneeded=true
RefuseManualStart=true
RefuseManualStop=true

[Socket]
Service=sockio.service
ListenFIFO=/tmp/sockio-in
FileDescriptorName=sockio-stdin
RemoveOnStop=true
